body{
  margin: 0;
}

h1, h2, p ul{
  font-family: monospace;
}

a{
  text-decoration: none;
}

a:hover{
  color: black;
}

.navbar{
  background-image: url('https://cdn3.vectorstock.com/i/1000x1000/34/02/watermelon-slice-on-blue-background-summer-time-vector-15433402.jpg');
  background-position: 0 20%;
  border-bottom: 3px solid #98cfd4;
  line-height: 1px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.logo{
  width: 80px;
  height: 70px;
  float: left;
  margin: 0 30px 0 20px;
}

.navbar h1{
  text-align: center;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
  font-size: 3em;
}

.container{
  width: fit-content;
  position: relative;
  z-index: 0;
  top: 90px;
}

.img-grid{
  display: grid;
  grid-template: repeat(2, 350px) / repeat(3, 350px);
  grid-gap: 20px;
  justify-content: center;
  grid-template-areas: "A B C"
                       "D E F"
}

.img-grid img {
  width: 350px;
  height: 350px;
  border: 3px solid #98cfd4;
  transition: transform 1s, border 1s;
}

.img-grid div:nth-child(1):hover{
  background-image: url('https://snaped.fns.usda.gov/sites/default/files/styles/crop_ratio_7_5/public/seasonal-produce/2018-05/watermelon.jpg?itok=6EdNOdUo');
  transform: translate(-250px,-200px);
  transition-delay: 0.1s;
}
.img-grid div:nth-child(1):hover:active{
  background-image: url('https://snaped.fns.usda.gov/sites/default/files/styles/crop_ratio_7_5/public/seasonal-produce/2018-05/watermelon.jpg?itok=6EdNOdUo');
  transform: translate(-250px,-200px);
  transition-delay: 0.1s;
}

.img-grid div:nth-child(2):hover{
  transform: skewX(10deg);
}

.img-grid div:nth-child(3):hover{
  transform: rotate(80deg);
}

.img-grid div:nth-child(4):hover{
  transform: skewX(10deg);
}

.img-grid div:nth-child(5):hover{
  transform: scale(1.1);
}

.img-grid div:nth-child(6):hover{
  transform: skewX(10deg);
}

.content {
  padding: 2% 10% 0 10%;
}

.content h2{
  text-align: center;
}

.footer, a{
  background-color: #98cfd4;
  padding: 20px 0 20px 0;
  color: #ff5c42;
}
.social{
  display: inline;

}

.social img{
  width: 35px;
  height: 35px;
}

.contact{
  text-align: center;
}

.copyright{
  text-align: right;
  font-size: .9em;
  padding-right: 5%;
}
